/* Bot.css */

.bot {
  background-color: #3498db; /* Background color */
  color: #fff; /* Text color */
  border-radius: 10px; /* Rounded corners */
  padding: 14px;
  margin: 10px;
  width: 350px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease;
}

.bot p {
  font-size: 10px; /* Adjust the font size as needed */
}

.bot:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.bot img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 15px;
}

.bot h3 {
  font-size: 1.5rem; /* Increase font size */
  margin: 10px 0;
}

.bot p {
  margin: 10px 0; /* Increase margin */
  font-size: 1.2rem; /* Increase font size */
}

.bot button {
  padding: 10px 20px; /* Increase padding */
  background-color: #e74c3c; /* Button background color */
  color: #fff;
  border: none;
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer;
  margin-top: 15px;
  font-size: 1.2rem; /* Increase font size */
  transition: background-color 0.3s ease;
}

.bot button:hover {
  background-color: #c0392b; /* Hovered button color */
}

.bot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
